@use '_variables.scss';

:root{
  --primary: #{variables.$primaryColor};
  --text: #{variables.$textColor};
  --secondary: #{variables.$secondaryColor};
  --tertiary: #{variables.$tertiaryColor};
}

*{
  color: var(--text);
}

header{
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

header, footer {
  background-color: var(--secondary);
}

body {
  margin: 0;
}

.login{
  background-color: var(--primary);
  padding: 7px;
  border-radius: 10px;
}

footer{
  padding: 2vh;
}

footer, .joke {
  text-align: center;
}

#root{
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.dash-main, .info-main, .games-main, .stats-main, .login-main {
  height: 100%;
}

.dash-main, header, .row, #root, .game-area, .info-main{
  display: flex;
}

.row{
  height: 50%;
  border-bottom: solid var(--secondary) 1px;
}

.content {
  width: 76vw;
  height: 100%;
}

.joke, .score{
  width: 26vw;
}

.joke, .facts, .score{
  border-right: solid var(--secondary) 1px;
}

.facts, .score, .used-recently, .games-soon{
  padding: 0 15px 0 15px;
  margin-top: 1px;
}

.facts, .used-recently{
  width: 38vw;
}

.games-soon {
  width: 46vw;
}

#game-area, #root {
  justify-content: space-between;
}

.info{
  background-color:  var(--secondary);
  width: 25vw;
  padding: 15px;
}

.a-joke {
  border: solid 1px var(--secondary);
  margin: 8px;
  padding: 8px;
}

.infoBtn{
  background-color: var(--secondary);
  border: none;
}

.closed{
  display: none;
}
